@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* p tag containing a generic online store privary policy *@
<p>
    This privacy policy discloses the privacy practices for Copilot Mvc Music Store. 
    This privacy policy applies solely to information collected by this web site. 
</p>
